.container {
    margin-left: 15px;
    margin-right: 15px;
}

.total{
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    color: red;
    text-align: right;
    margin-right: 10px;
}

.button{
    background-color: green;
    width: 100%;
    height: 50px;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 20px;

}

.orange {
    background-color: orange;
    padding: 10px 0 0 10px;
  }

  .img{
    float: right;
    height: 20px;
    padding-right: 5px;
  }

  .orangered {
    background-color:orangered;
    padding: 10px 0 0 10px;
  }