.scroller {
    width: auto;
    height: 110px;
    overflow: scroll;
  }

  .lign {
    text-align: center;

  }

  .orange {
    background-color:orangered;
  }

  
.checkbox {
    margin-right: 20px ;
    margin-top: 20px;
    float: right;
 }